@font-face {
    font-family: 'Amiri';
    src: url('Amiri-Regular.woff2') format('woff2'),
        url('Amiri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

